
  .Apply {
    display: flex;
    justify-content: left;
    margin-top: 5rem;
  }

  form{
    margin: 2em;
    color: white;
  }

  h2 {
    text-align: center;
  }
  .input1 {
    display: block;
    width: 20rem;
    height: 2rem;
    padding: 0.5rem;
    font-size: 1.1em;
    font-weight: 500;
    margin-bottom: 2rem;
    border-radius: 0.5rem;
  }
  .button1 {
    border: none;
    padding: 1rem;
    width: 21.2rem;
    font-size: 1.2em;
    border-radius: 0.2rem;
    cursor: pointer;
  }
  .button1:hover {
    background-color: #c7c7c7;
  }
  .message1 {
    font-size: 1.2em;
    text-align: center;
    color: #36a936;
  }
  
  .select1{
    display: block;
    width: 21.3rem;
    height: 3.5rem;
    padding: 0.1rem;
    font-size: 1.2em;
    font-weight: 500;
    margin-bottom: 2rem;
    border-radius: 0.5rem;
    border: 0.155rem solid black;
  
  }
  
  .eduList{
    list-style-type: none;
    background-color: rgba(243, 243, 243, 0.104)
}

.allList{
    text-align: center;
}

.allListShown{
    padding-top: 0.8em;
    text-align: start;
    margin: 0.7em 0.7em;
    padding-bottom: 0.73em;
}
