#course-main{
    z-index: 1;
    display: grid;
    grid-template-columns: repeat(15, 1fr);
}

.course-h2{
    padding-left:1em;
}

.courses-bg{
    z-index: -99999;
    width: 100%;
    height: 100vh;
    background: url('../../assets/educations-hero.png') no-repeat center center/cover;
}

.course-object-list{
    grid-column: 3/10;
    background-color: rgb(131, 68, 68);
}

.course-object-settings{
    grid-column: 11/15;
    background-color: rgb(68, 131, 131);
}

.course-object{
    background-color: red;
    margin: 1em;
}